@model IEnumerable<SciBuy.Models.Article>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Добавить", "CreateArticle", new { ArtID = 0 })*
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Имя статьи")
        </th>
        <th>
            @Html.DisplayName("Дата создания")
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatingDate)
        </td>
        
        <td>
            @Html.ActionLink("Редактировать", "CreateArticle", new { ArtID = item.PageId }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.PageId }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.PageId })
        </td>
    </tr>
}

</table>
