@model SciBuy.Models.RegistrationModel
@{
    ViewBag.Title = "Регистрация нового пользователя";
}
<h2> Регистрация пользователя</h2>

@using (Html.BeginForm())
{
    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "Password")
        {
            <div class="form-group">
                <label>@property.DisplayName</label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                @Html.ValidationMessage(property.PropertyName)
            </div>
        }
    }

    <div class="form-group">
        <label>Пароль</label>
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
        @Html.ValidationMessage("Password")


    </div>
        <button class="btn btn-primary" type="submit">Регистрация</button>
@Html.ValidationSummary()

}
