@model SciBuy.Models.Article
@{
    string usern = Model.Author.UserName;
}
<div class="article_preview">
    <h2>@Html.ActionLink(@Model.Title, "Index", "Article", new { id = Model.PageId }, null)</h2>
    <p class="excerpt">@SciBuy.Helpers.PageHelper.GetExcerpt(Model.Content, 50)</p>
    <span class="author">@Html.ActionLink(usern, "Index", "Account", new { username = usern },null) </span>
    <span class="date">@Model.CreatingDate</span>


    @if (Convert.ToBoolean(ViewData["Edit"]))
    {
        <div class="edit">
            @Html.ActionLink("Перейти", "Index", "Article", new { id = Model.PageId }, null)
            <span>|</span>
            @Html.ActionLink("Редактировать", "CreateArticle", "Article", new { ArtID = Model.PageId }, null)
            <span>|</span>
            @Html.ActionLink("Удалить", "Delete", "Article", new { ArtID = Model.PageId }, null)
        </div>
    }
</div>
