@model SciBuy.Models.Article

<div class="article preview">
    <h2>@Html.ActionLink(@Model.Title, "Index", "Article", new { id = Model.PageId }, null)</h2>
    <span class="date">@Model.CreatingDate</span>
    <p class="excerpt">@SciBuy.Helpers.PageHelper.GetExcerpt(Model.Content, 50)</p>
    @if (Convert.ToBoolean(ViewData["Edit"]))
    {
        <div class="edit">
            @Html.ActionLink("Перейти", "Index", "Article", new { id = Model.PageId }, null)
            <span>|</span>
            @Html.ActionLink("Редактировать", "CreateArticle", "Article", new { ArtID = Model.PageId }, null)
            <span>|</span>
            @Html.ActionLink("Удалить", "Delete", "Article", new { ArtID = Model.PageId }, null)
        </div>
    }
</div>
